## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
2401

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s=['Hi','there', 'dad']

In [4]:
print(s)

['Hi', 'there', 'dad']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
print(f'The diameter of {planet} is {diameter} kilometers')

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [18]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [19]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [24]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [26]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
list is mutable
Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [27]:
email="user@domain.com"

In [30]:
print(email[email.index('@')+1:])

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [32]:
def animal(h):
  if 'dog' in h:
    return True
  return False
h=input()
animal(h)

dog

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [38]:
def animal(h):
  count=0
  lst = h.split(" ")
  for i in lst:
    if 'dog' == i:
      count+=1
  print(count)
h=input()
animal(h)

Iam dog dog
2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [42]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [46]:
print(caught_speeding(90,False))

Big Ticket

In [ ]:
print(caught_speeding(75,True))

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [48]:
lst=[500,200,300,400,1000]
Sum=sum(lst)
print(Sum)

2400

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [50]:
dict1={'empid':23,'empname':'rajesh','bpay':200000}
dict2={'deptname':'cse','deptid':15}
dict1.update(dict2)
print(dict1)

{'empid': 23, 'empname': 'rajesh', 'bpay': 200000, 'deptname': 'cse', 'deptid': 15}