## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s = "Hi there Sam!"
lst = s.split(" ")

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742
string = f"The diameter of {planet} is {diameter} kilometers."

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

# Tuple
* Tuple uses -> ( )     
* immutable                
---
# List
* List uses -> [ ]
* mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [15]:
email = input()
i= email.index("@")
print(email[i+1:])

user@domain.com
domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [16]:
def check_for_dog(str):
  if "dog" in str:
    return True
  return False
print(check_for_dog("iamdog"))
print(check_for_dog("iamman"))

True
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [18]:
def count_dog(s):
  count = 0
  lst = s.split(" ")
  for i in lst:
    if i=="dog":
      count += 1
  return count

print(count_dog("i am dog the doggy"))
print(count_dog("i love dog the dog"))

1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [21]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [26]:
print(caught_speeding(105,False))

Big Ticket

In [25]:
print(caught_speeding(75,True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [28]:
employee_salaries = [1000,2000,3000,4000,5000]
sum = 0
for i in employee_salaries:
  sum += i
print(f"expenditure of all employees: {sum}")

expenditure of all employees: 15000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [34]:
employee = {"empid":1, "name":"dinesh", "basicpay":5000}
department = {"deptname":"CSE", "deptId":1}
employee.update(department)
print(employee)

{'empid': 1, 'name': 'dinesh', 'basicpay': 5000, 'deptname': 'CSE', 'deptId': 1}